<h1>INDEX GISTS LIST</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">User email</th>
    <th scope="col">Question body</th>
    <th scope="col">url</th>
  </tr>
  </thead>
  <tbody>
  <% @gists.each do |g| %>
  <tr>
  <th scope="row"><%= g.id %></th>
  <td><%= g.user.email %></td>
  <td><%= link_to question_body_formatter(g.question), question_path(g.question) %></td>
  <td><%= link_to g.url, g.url, target: "_blank" %></td>
  <% end %>
  </tr>
  </tbody>
</table>
