<% if resource.errors.present? %>
  <div>
    <%= t('.header', count: resource.errors.count) %>:
    <ul>
      <% resource.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
