<% if resource&.errors.present? %>
  <%= content_tag :div, class: 'resource-errors', data: { resource_id: resource.id } do %>>
    <%= t('.header', count: resource.errors.count) %>:
    <ul>
      <% resource.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
