<footer>
 <div class="footer-bg">
   ©<%= Date.today.year %>
   <br>
   <%= link_to 'GitHub Page', 'https://github.com/IgorShum/Test-guru' %>
   <br>
   <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/' %>
 </div>
</footer>