<footer>
 <div class="footer-bg">
   <%= current_year %>
   <br>
   <%= link_to 'GitHub Page', 'https://github.com/IgorShum/Test-guru', target: :_blank %>
   ©
   <%= github_url('IgorShum', 'https://github.com/IgorShum') %>
   <br>
   <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :_blank %>
 </div>
</footer>
