<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>FeedBack e-mail</h1>

<p><%= @subject %></p>

<p><%= @text %></p>

</body>
</html>
