.nav.user {
  text-align:  right;
}

footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}

.logo {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.nav.user-email {
  border-bottom: 1px solid #3c85e0;
}

.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav-admin.title {
  float: right
}

.nav-admin.user {
  text-decoration: underline;
}

.nav.nav-admin
a {
  color: #ffffff;
}
